$blue: #6789e9;
$blue-accent: #3f42f5;
$green: #69b00b;
$white-color: #ffffff;
$black-color: #000000;
$primary-font-stack: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
